[user]
	email = enterted@gmail.com
	name = tebby24
[core]
	editor = nvim
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
